.card-body {
  transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10em 10em;
  text-decoration: none;
  position: relative;
  z-index: 1;
  user-select: none;
}
.card__waves {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 50px rgba(247, 13, 13, 0.5);
  box-shadow: inset 0 0 50px rgb(255, 255, 255);
  border-radius: 3em;
  top: 0;
  left: 0;
  z-index: 1;
}
.card__waves:hover {
  background-color: rgb(100, 100, 255);
  cursor: pointer;
}
.titule {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
.card {
  border-radius: 3em;
  text-align: center;
  z-index: 110;
  padding: 0;
}
.card jpg {
  width: 40%;
  margin-bottom: 1em;
  position: relative;
  z-index: 10;
}
.card-title {
  font-size: 30px;
  text-decoration: underline;
  font-style: italic;
  padding-bottom: 0.7em;
  padding-top: 0.6em;
  text-align: center;
  z-index: 90;
}
.navbar {
  z-index: 1000;
}
.g-5,
.gx-5 {
  --bs-gutter-x: 2%;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.col {
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
.row {
  justify-content: center;
  flex-wrap: wrap;
}

.company-details {
  overflow: hidden;
  padding: 3em 0em;
  text-align: center;
}

#footer #col1,
#footer #col2,
#footer #col3 {
  float: left;
  width: 320px;
  padding: 0px 40px 0px 40px;
}

#footer #icon {
  display: block;
  font-size: 3em;
}
.chebupeli {
  margin-bottom: 12em;
}

.text_ves{
  font-family: "textovii";
  text-align: left;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
@font-face {
	font-family: 'Hakim'; 
	src: url(Hakim.ttf); 
}
.text_Hakim{
  font-family: "Hakim";
  font-size: 30px;
}
@font-face {
	font-family: 'Pusia'; 
	src: url(Pusia.otf); 
}
.text_Pusia{
  font-family: "Pusia";
  font-size: 20px;
}
@font-face {
	font-family: 'Hakim_'; 
	src: url(Hakim.ttf); 
}
.text_Hakim_{
  font-family: "Hakim_";
  font-size: 50px;
  text-align: center;
}
@font-face {
	font-family: 'Godno'; 
	src: url(text_Godno.ttf); 
}
.text_Godno{
  font-family: "Godno";
  font-size: 22px;
  text-align: justify;
}
.foto{
  width: 17em;
  text-align: center;
}
.element {height: max-content;
	  border-radius: 3em ;}
.chebupeli{margin-top: 5em;}
.card-img, .card-img-bottom, .card-img-top{width:60%;}
.car{border-radius: 3em;
     text-align: center;
     z-index: 110;
     padding: 0;
     --bs-card-spacer-y: 1rem;
     --bs-card-spacer-x: 1rem;
     --bs-card-title-spacer-y: 0.5rem;
     --bs-card-title-color: ;
     --bs-card-subtitle-color: ;
     --bs-card-border-width: var(--bs-border-width);
     --bs-card-border-color: var(--bs-border-color-translucent);
     --bs-card-border-radius: var(--bs-border-radius);
     --bs-card-box-shadow: ;
     --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
     --bs-card-cap-padding-y: 0.5rem;
     --bs-card-cap-padding-x: 1rem;
     --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
     --bs-card-cap-color: ;
     --bs-card-height: ;
     --bs-card-color: ;
     --bs-card-bg: var(--bs-body-bg);
     --bs-card-img-overlay-padding: 1rem;
     --bs-card-group-margin: 0.75rem;
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     height: var(--bs-card-height);
     color: var(--bs-body-color);
     word-wrap: break-word;
     background-color: var(--bs-card-bg);
     background-clip: border-box;
     border: var(--bs-card-border-width) solid var(--bs-card-border-color);
     border-radius: var(--bs-card-border-radius);}

